<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.CountryMapper">

<resultMap type="com.example.domain.Country" id="countryWithCity">
<id property="code" column="country_code"/>
<result property="name" column="country_name"/>
<result property="continent" column="country_continent"/>
<result property="region" column="country_region"/>
<result property="surfaceArea" column="country_surface_area"/>
<result property="indepYear" column="country_indep_year"/>
<result property="population" column="country_population"/>
<result property="lifeExpectancy" column="country_life_expectancy"/>
<result property="gnp" column="country_gnp"/>
<result property="gnpOld" column="country_gnp_old"/>
<result property="localName" column="country_local_name"/>
<result property="governmentForm" column="country_government_form"/>
<result property="headOfState" column="country_head_of_state"/>
<result property="capital" column="country_capital"/>
<result property="code2" column="country_code2"/>
<collection property="cities" ofType="com.example.domain.City">
<id property="id" column="city_id"/>
<result property="name" column="city_name"/>
<result property="countryCode" column="city_country_code"/>
<result property="district" column="city_district"/>
<result property="population" column="city_population"/>
</collection>
</resultMap>
<select id="selectAllWithCity" resultMap="countryWithCity">

select c1.code as country_code,
	   c1.name as country_name,
       c1.continent as country_continent,
       c1.region as country_region,
       c1.surface_area as country_surface_area,
       c1.indep_year as country_indep_year,
       c1.population as country_population,
	   c1.life_expectancy as country_life_expectancy,
	   c1.gnp as country_gnp,
	   c1.gnp_old as country_gnp_old,
	   c1.local_name as country_code,
	   c1.government_form as country_code,
	   c1.head_of_state as country_code,
	   c1.capital as country_code,
	   c1.code2 as country_code,
	   c2.id as city_id,
	   c2.name as city_name,
	   c2.country_code as city_country_code,
	   c2.district as city_distrtict,
	   c2.population as city_population

from country c1 left outer join city c2
on c1.code=c2.country_code
where c1.code='KOR'

</select>



<select id="selectPageWithCity">

</select>

<select id="selectByCodeWithCity" resultMap="countryWithCity">
select 	c1.code			   	as country_code,
			c1.name				as country_name,
			c1.continent		as country_continent,
			c1.region			as country_region,
			c1.surface_area		as country_surface_area,
			c1.indep_year		as country_indep_year,
			c1.population		as country_population,
			c1.life_expectancy	as country_life_expectancy,
			c1.gnp				as country_gnp,
			c1.gnp_old			as country_gnp_old,
			c1.local_name		as country_local_name,
			c1.government_form	as country_government_form,
			c1.head_of_state	as country_head_of_state,
			c1.capital			as country_capital,
			c1.code2			as country_code2,
			c2.id				as city_id,
			c2.name				as city_name,
			c2.country_code		as city_country_code,
			c2.district			as city_district,
			c2.population		as city_population
	  from country c1 left outer join city c2
	    on c1.code = c2.country_code
	 where c1.code = #{code} 


</select>
</mapper>